#
# source setup_env.sh
#
export DB_USER="mysqluser"
export DB_PASSWORD="msqlpassword"
export DB_NAME="defaultdb"
export DB_HOST="127.0.0.1"
export DB_PORT="3306"

export GRAHPQL_HOST="127.0.0.1"
export GRAPHQL_PORT="8080"
#export GRAPHQL_BROWSER_URL="https://yourserver/graphql"

export FRONT_HOST="127.0.0.1"
export FRONT_PORT="3000"
#export FRONT_BASE="/kanban/"